
services:
###> doctrine/doctrine-bundle ###
  php:
    build: .
    container_name: zenpaw_tech-php
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html:rw
    environment:
      SYMFONY_ENV: dev
    depends_on:
      - database
    command: >
      sh -c "apt-get update \
      && apt-get install -y git unzip libpq-dev \
      && docker-php-ext-configure pdo_pgsql --with-pgsql=/usr/local/pgsql \
      && docker-php-ext-install pdo pdo_pgsql \
      && php -m | grep pdo_pgsql \
      && php-fpm"
    ports:
      - "9000:9000"
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
